@use "./partials/header";
@use "./partials/deals";
@use "./partials/articles";
@use "./partials/searching";
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  border-radius: 30px;
}
