@use "../variables/colors";
@use "../variables/font-sizes";
@use "../mixins/forms";
.main-content__main-search-section {
  display: flex;
  flex-direction: column;
}
.main-content__title {
  padding-left: 30px;
}
@media (min-width: 1071px) {
  .main-content__main-search-section {
    position: relative;
  }
}

.main-serch-section__properties-found {
  align-items: center;
  margin: 10px 30px;
  padding-bottom: 20px;
  width: 90%;
  border-bottom: solid rgb(217, 219, 233);
}
@media (min-width: 1071px) {
  .main-serch-section__properties-found {
    display: flex;
  }
  .properties-found__text-container {
    height: 100%;
    max-width: 550px;
    align-self: flex-start;
  }
  .properties-found__images-container {
  }
  .properties-found__images-container img {
    width: 90%;
    max-width: 500px;
    min-width: 290px;
  }
}
.properties-found__images-container {
  display: flex;
  width: 90%;
  margin: 10px;
  overflow: scroll;
  align-items: center;
  gap: 7%;
}
.main-search-section__tittle-article {
  color: colors.$titles-color;
  font-size: font-sizes.$h2-size;
}
.information-list__information-item {
  color: colors.$content-articles-color;
  &.map-link {
    color: colors.$titles-color;
  }
}

.properties-found__rating-stars {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 20px 0px;
}
.container-for-booking-button {
  display: flex;
  flex-direction: row;
}
.make-booking {
  @include forms.input-button(135px, 32px, white, #5f2eea, 16px, 40px);
  color: colors.$titles-color;
  margin: 20px 0px;
  font-weight: bold;
  border-color: colors.$content-articles-color;
}
.fa-solid {
  width: 15px;
  font-size: 15px;
}
@media (min-width: 1071px) {
  .make-booking {
    position: absolute;
    right: 0;
    top: 0;
  }
  .properties-found__text-container {
    position: relative;
  }
}
