.deals-form__input {
  background-image: url(/multimedia/3741756-bussiness-ecommerce-marketplace-onlinestore-store-user_108907.ico);
  background-repeat: no-repeat;
  background-position: -50%px;
  font-family: "Poppins", sans-serif;
}
