.deals-form__input {
  background-image: url(/multimedia/right_icon-icons.com_61212.ico);
  background-repeat: no-repeat;
  background-position: 100%;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
}
