@use "../variables/colors.scss";
@use "../mixins/titles.scss";
@use "../variables/font-sizes";
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  margin: 0;
}
.fa-solid,
.fa-bars .header {
  width: 28px;
  font-size: 20px;
  color: colors.$titles-color;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    @include titles.title(font-sizes.$h1-size, colors.$titles-color, 20px);
    font-weight: 700;
    margin-left: 4vw;
  }
  &__menu-link {
    padding-right: 25px;
  }
}

.header-separator {
  height: 1px;
  background-color: colors.$soft-purple;
}
