@mixin advise($color, $backgroung) {
  width: 90%;
  background-color: $backgroung;
  color: $color;
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;
}
@mixin exit-button {
  background: none;
  border: none;
}
